# 作业2 股票数据清洗

同学们好，本次作业的主要内容为使用pandas进行数据预处理。希望这两天你们已经从Python的课程内容中回过神来了。
没有数据的分析是无源之水，能够熟练处理数据是成为合格的数据分析师的基本要求，希望大家在今后多多实战，成为数据大师。

本次作业将使用公开标普500的股票数据。
https://www.kaggle.com/dgawlik/nyse#prices-split-adjusted.csv

作业的形式以问答为主，因为不涉及过长的代码，核心是数据的操作，所以这里没有太多的代码模板可供大家参考。
希望大家能从搜索引擎（google/bing）问答社区（stackoverflow）或者[官方文档](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html)或者我提供的jupyter notebooks 中找到回答问题需要的方法。
请时刻牢记数据的增删改查四种原子操作，思考我们的问题可以被如何分解。

那么首先，我们要import pandas

In [ ]:
import pandas as pd

# 1. 从fundemantals.csv开始！

fundemantals.csv 是这些股票的年报数据

请用数据回答以下问题：

1. S&P500股票在2015年`net income`的均值是多少？最大值比最小值多多少？（每问10分，共计20分）
2. S&P500股票在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值是多少？固定资产占总资产比例最小的股票是的代码（ticker symbol）是什么？（每问10分，共计20分）

In [28]:
fd = pd.read_csv('fundamentals.csv')
fd.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

In [29]:
# 第1题 股票在2015年`net income`的均值是多少？最大值比最小值多多少？
fd2015 = fd[fd['For Year'] == 2015.0]
# fd2015.head()
print('S&P500股票在2015年net income的均值是',fd2015['Net Income'].mean())
print('S&P500股票在2015年最大值是',fd2015['Net Income'].max())
print('S&P500股票在2015年最小值是',fd2015['Net Income'].min())
print('S&P500股票在2015年最大值比最小值多',fd2015['Net Income'].max() - fd2015['Net Income'].min())

S&P500股票在2015年net income的均值是 1575185571.764706
S&P500股票在2015年最大值是 53394000000.0
S&P500股票在2015年最小值是 -23528000000.0
S&P500股票在2015年最大值比最小值多 76922000000.0

In [62]:
# 第2题 股票在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值是多少？
#   固定资产占总资产比例最小的股票的代码（ticker symbol）是什么？
fd2016 = fd[fd['For Year'] == 2016.0]
# fd2016.head()
fd2016.loc[:,'fixed assets/total assets'] = fd2016.loc[:,'Fixed Assets']/fd2016.loc[:,'Total Assets']
# fd2016.head()
print('股票在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值是',fd2016['fixed assets/total assets'].mean())
a = fd2016['fixed assets/total assets'].min()
fd2016_1 = fd2016[['Ticker Symbol','fixed assets/total assets']]
fd2016_1.head()
fd2016_2 = fd2016_1[fd2016_1['fixed assets/total assets'] == a]
fd2016_2.head()
print('固定资产占总资产比例最小的股票的代码（ticker symbol）是',fd2016_2['Ticker Symbol'])

股票在2016年的固定资产（fixed assets）占总资产(total assets)比例的均值是 0.18557794433374705
固定资产占总资产比例最小的股票的代码（ticker symbol）是 459    DHI
Name: Ticker Symbol, dtype: object

# 2. 加入securities.csv~

securities.csv包含了这些股票的基本信息

1. 请列举出各个sector中的加入时间最早的股票名称（10分）
2. 请列举出每一个州中加入时间最晚的股票名称（10分）

In [19]:
# 第1题 请列举出各个sector中的加入时间最早的股票名称
se = pd.read_csv('securities.csv')
se = se.dropna(subset=["Date first added"])
se['Date first added'] = pd.to_datetime(se['Date first added'])
#se.head()
se1 = se.sort_values(by='Date first added')
#se1.head()
se2 = se1.groupby('GICS Sector')['Date first added'].min()
print('各个sector中的加入时间最早的股票名称\n',se2)

各个sector中的加入时间最早的股票名称
 GICS Sector
Consumer Discretionary        1970-06-30
Consumer Staples              1969-03-31
Energy                        1965-03-31
Financials                    1975-06-30
Health Care                   1964-03-31
Industrials                   1964-03-31
Information Technology        1974-12-31
Materials                     1964-06-30
Real Estate                   2007-01-10
Telecommunications Services   1983-11-30
Utilities                     1976-06-30
Name: Date first added, dtype: datetime64[ns]

In [23]:
# 第2题 每一个州中加入时间最晚的股票名称
#se.head()
se3 = se1.groupby('Address of Headquarters')['Date first added'].max()
print('每一个州中加入时间最晚的股票名称\n',se3)

每一个州中加入时间最晚的股票名称
 Address of Headquarters
Allentown, Pennsylvania         1985-04-30
Amsterdam, New York             2013-12-23
Arlington, Virginia[3]          2007-01-10
Atlanta, Georgia                2016-05-03
Auburn Hills, Michigan          2011-12-19
Austin, Minnesota               2009-03-04
Baltimore, Maryland             2016-03-25
Baton Rouge, Louisiana          2016-07-01
Bellevue, Washington            2007-10-02
Bentonville, Arkansas           1982-08-31
Berwyn, Pennsylvania            2013-09-23
Bethesda, Maryland              2007-03-20
Beverly, Massachusetts          2014-07-01
Boise, Idaho                    1994-09-27
Bolingbrook, Illinois           2016-04-18
Boston, Massachusetts           2009-01-06
Brentwood, Tennessee            2014-01-24
Bridgeport, Connecticut         2008-11-13
Broomfield, Colorado            2014-11-05
Burbank, California             1976-06-30
Cambridge, Massachusetts        2013-09-23
Cayce, South Carolina           2009-01-02
Chandler, Arizona               2007-09-07
Charlotte, North Carolina       1985-04-30
Chattanooga, Tennessee          1994-03-01
Chesapeake, Virginia            2011-12-19
Cheshire, Connecticut           2012-05-25
Chicago, Illinois               2016-05-23
Cincinnati, Ohio                2008-07-01
Cleveland, Ohio                 2016-06-03
                                   ...
Seattle, Washington             2016-05-13
Short Hills, New Jersey         2008-12-02
Silver Spring, Maryland         2014-08-07
Springfield, Missouri           2009-03-27
St Louis, Missouri              2016-03-30
St. Louis, Missouri             1991-09-19
St. Paul, Minnesota             1989-01-31
Stamford, Connecticut           2016-09-08
Sunnyvale, California           2008-06-02
Tarrytown, New York             2013-05-01
Taylor, Michigan                1981-06-30
Tempe, Arizona                  2009-10-16
Thousand Oaks, California       1992-01-02
Toledo, Ohio                    2009-01-30
Tulsa, Oklahoma                 2010-03-15
Vernier, Switzerland            2013-10-29
Voorhees, New Jersey            2016-03-04
Wallingford, Connecticut        2008-09-30
Waltham, Massachusetts          1985-05-31
Washington County, Oregon       1988-11-30
West Falls Church, Virginia     1985-06-30
Westbrook, Maine                2017-01-05
White Plains, New York          2011-11-01
Wilsonville, Oregon             2009-01-02
Winona, Minnesota               2009-09-15
Winston-Salem, North Carolina   2015-03-20
Woburn, Massachusetts           2015-03-12
Worsley, UK                     2012-10-01
York, Pennsylvania              2008-11-14
Zurich, Switzerland             2010-07-15
Name: Date first added, Length: 187, dtype: datetime64[ns]

# 3. merge!

现在你需要同时处理来自两个表中的信息了

1. 请思考，合并两个表的信息的时候，我们应该用什么样的准则对其它们（10分）
2. 请列举每个sector在2013-2016年累计Research&Development的总投入（10分）
3. 请列举出每个sector中，在2013-2016年累计Research&development投入最大的3家公司的名称以及投入的数值（20分）

In [36]:
# 第1题
se = se.rename(columns={'Ticker symbol':'Ticker Symbol'}) # 列名需相同，区分大小写
se.head()

,Ticker Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
1,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800
2,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152
3,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373
4,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,718877
5,AYI,Acuity Brands Inc,reports,Industrials,Electrical Components & Equipment,"Atlanta, Georgia",2016-05-03,1144215

In [38]:
#se.head()
mer = pd.merge(fd, se, how = 'inner',on = ['Ticker Symbol'])
mer.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,For Year,Earnings Per Share,Estimated Shares Outstanding,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,2012.0,-5.60,3.350000e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,2013.0,-11.25,1.630222e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,2014.0,4.02,7.169154e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,2015.0,11.39,6.681299e+08,American Airlines Group,reports,Industrials,Airlines,"Fort Worth, Texas",2015-03-23,6201
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,2012.0,5.29,7.328355e+07,Advance Auto Parts,reports,Consumer Discretionary,Automotive Retail,"Roanoke, Virginia",2015-07-09,1158449

In [43]:
#第2题：列举每个sector在2013-2016年累计Research&Development的总投入
m2 = mer[(mer['For Year'] >=2013.0) & (mer['For Year'] <=2016.0)]
#m2.head(10)
m2_2 = m2.groupby('GICS Sector')['Research and Development'].sum()
print('每个sector在2013-2016年累计Research&Development的总投入',m2_2)

每个sector在2013-2016年累计Research&Development的总投入 GICS Sector
Consumer Discretionary         1.860178e+09
Consumer Staples               8.557000e+08
Energy                         0.000000e+00
Financials                     0.000000e+00
Health Care                    6.334725e+10
Industrials                    4.219500e+09
Information Technology         1.986645e+11
Materials                      1.073121e+10
Real Estate                    0.000000e+00
Telecommunications Services    0.000000e+00
Utilities                      0.000000e+00
Name: Research and Development, dtype: float64

In [58]:
#第3题： 请列举出每个sector中，在2013-2016年累计Research&development投入最大的3家公司的名称以及投入的数值
m3 = m2.sort_values(by = 'Research and Development')
m3 = m3.groupby(['GICS Sector']).head(3)
#m3.head()
print(m3)

     Unnamed: 0 Ticker Symbol Period Ending  Accounts Payable  \
1             1           AAL    2013-12-31      4.975000e+09
673        1097           MPC    2014-12-31      8.198000e+09
674        1098           MPC    2015-12-31      5.890000e+09
676        1104           MRO    2013-12-31      3.891000e+09
692        1130          NAVI    2014-12-31      0.000000e+00
693        1131          NAVI    2015-12-31      0.000000e+00
699        1137          NDAQ    2013-12-31      5.090000e+08
705        1143           NEE    2015-12-31      3.899000e+09
669        1093           MOS    2015-12-31      1.979800e+09
704        1142           NEE    2014-12-31      2.504000e+09
654        1070           MLM    2015-12-31      2.666060e+08
668        1092           MOS    2014-12-31      1.542200e+09
662        1082          MNST    2015-12-31      4.819180e+08
630        1030           MAT    2015-12-31      1.328658e+09
632        1032           MCD    2013-12-31      3.170000e+09
633        1033           MCD    2014-12-31      2.747900e+09
640        1048          MDLZ    2013-12-31      8.706000e+09
641        1049          MDLZ    2014-12-31      8.292000e+09
621        1017           MAC    2014-12-31      1.003118e+09
773        1275            PH    2016-06-30      2.004101e+09
817        1339             R    2014-12-31      1.074531e+09
743        1201             O    2013-12-31      1.439630e+08
744        1202             O    2014-12-31      1.669620e+08
479         803           HRS    2013-06-28      1.139400e+09
480         804           HRS    2014-06-27      1.051000e+09
481         805           HRS    2015-07-03      1.816000e+09
484         808          HSIC    2013-12-28      1.515714e+09
486         810          HSIC    2015-12-26      1.801035e+09
485         809          HSIC    2014-12-27      1.591397e+09
604         996          LVLT    2013-12-31      9.940000e+08
605         997          LVLT    2014-12-31      1.111000e+09
606         998          LVLT    2015-12-31      9.550000e+08
586         978           LNT    2015-12-31      4.024000e+08

     Accounts Receivable  Add'l income/expense items  After Tax ROE  \
1          -9.300000e+07               -2.723000e+09           67.0
673         1.642000e+09                1.320000e+08           23.0
674         1.292000e+09                1.190000e+08           22.0
676         2.170000e+08                3.500000e+07            9.0
692        -7.500000e+07                0.000000e+00           27.0
693         1.750000e+08                0.000000e+00           25.0
699        -5.500000e+07                2.500000e+07            6.0
705         9.000000e+07                4.620000e+08           12.0
669        -6.070000e+07               -7.770000e+07           10.0
704        -7.000000e+06                4.080000e+08           12.0
654         1.230900e+07                1.067200e+07            7.0
668        -2.265000e+08                2.950000e+07           10.0
662        -7.673100e+07                1.593650e+08           11.0
630        -1.362590e+08                8.263000e+06           14.0
632         5.620000e+07               -3.200000e+07           35.0
633         2.700000e+07               -8.000000e+05           37.0
640         4.920000e+08                3.000000e+07           12.0
641         1.840000e+08                0.000000e+00            8.0
621        -1.412600e+07                1.477535e+09           27.0
773         1.754900e+07                7.323600e+07           18.0
817        -2.068700e+07                1.296730e+08           12.0
743        -2.116000e+06                0.000000e+00            5.0
744        -3.064000e+06                3.920500e+07            5.0
479         7.800000e+07               -3.900000e+07            7.0
480         1.160000e+08                7.000000e+06           29.0
481        -1.700000e+07               -1.060000e+08           10.0
484        -4.511000e+07                1.517800e+07           15.0
486        -1.200010e+08                1.279400e+07           17.0
485        -8.144100e+07                1.822700e+07           17.0
604         3.000000e+07               -8.800000e+07            8.0
605         9.000000e+06               -1.210000e+08            5.0
606        -8.700000e+07               -4.060000e+08           34.0
586         1.980000e+07                3.760000e+07           10.0

     Capital Expenditures  Capital Surplus  Cash Ratio  ...  For Year  \
1           -3.114000e+09     1.059200e+10        75.0  ...    2013.0
673         -1.480000e+09     9.841000e+09        17.0  ...    2014.0
674         -1.998000e+09     1.107100e+10        18.0  ...    2015.0
676         -4.443000e+09     6.592000e+09         6.0  ...    2013.0
692          0.000000e+00     2.893000e+09         NaN  ...    2014.0
693          0.000000e+00     2.967000e+09         NaN  ...    2015.0
699         -1.150000e+08     4.278000e+09         NaN  ...    2013.0
705         -3.511000e+09     8.596000e+09         6.0  ...    2015.0
669         -1.000300e+09     6.400000e+06        62.0  ...    2015.0
704         -3.142000e+09     7.179000e+09         6.0  ...    2014.0
654         -3.182320e+08     3.287827e+09        46.0  ...    2015.0
668         -9.291000e+08     4.200000e+06       149.0  ...    2014.0
662         -3.560500e+07     3.991857e+09       568.0  ...    2015.0
630         -2.541810e+08     1.789870e+09        54.0  ...    2015.0
632         -2.824700e+09     5.994100e+09        88.0  ...    2013.0
633         -2.583400e+09     6.239100e+09        76.0  ...    2014.0
640         -1.622000e+09     3.139600e+10        18.0  ...    2013.0
641         -1.642000e+09     3.165100e+10        12.0  ...    2014.0
621         -2.006450e+08     5.041797e+09         NaN  ...    2014.0
773         -1.494070e+08     6.284510e+08        89.0  ...    2016.0
817         -2.259164e+09     9.623280e+08         5.0  ...    2013.0
743         -1.429483e+09     0.000000e+00         NaN  ...    2013.0
744         -1.228243e+09     0.000000e+00         NaN  ...    2014.0
479         -1.650000e+08     0.000000e+00        25.0  ...    2013.0
480         -2.010000e+08     0.000000e+00        50.0  ...    2014.0
481         -1.480000e+08     0.000000e+00        21.0  ...    2015.0
484         -6.021500e+07     3.182250e+08        12.0  ...    2013.0
486         -7.168400e+07     2.073740e+08         3.0  ...    2015.0
485         -8.211600e+07     2.653630e+08         5.0  ...    2014.0
604         -7.600000e+08     1.433900e+10        44.0  ...    2013.0
605         -9.100000e+08     1.915900e+10        31.0  ...    2014.0
606         -1.229000e+09     1.964200e+10        61.0  ...    2015.0
586          0.000000e+00     1.663000e+09         0.0  ...    2015.0

     Earnings Per Share  Estimated Shares Outstanding  \
1                -11.25                  1.630222e+08
673                8.84                  2.855204e+08
674                5.29                  5.391304e+08
676                2.49                  7.040161e+08
692                2.74                  4.193431e+08
693                2.66                  3.748120e+08
699                2.30                  1.673913e+08
705                6.11                  4.504092e+08
669                2.79                  3.585663e+08
704                5.67                  4.347443e+08
654                4.31                  6.700510e+07
668                2.69                  3.823792e+08
662                 NaN                           NaN
630                1.08                  3.420519e+08
632                5.59                  9.992665e+08
633                4.85                  9.809897e+08
640                2.21                  1.771493e+09
641                1.29                  1.693023e+09
621               10.46                  1.433119e+08
773                5.96                  1.353758e+08
817                4.14                  5.273937e+07
743                1.06                  2.316642e+08
744                1.04                  2.602260e+08
479                1.01                  1.118812e+08
480                5.00                  1.070000e+08
481                3.15                  1.060317e+08
484                5.02                  8.596693e+07
486                5.78                  8.288201e+07
485                5.53                  8.428156e+07
604               -0.49                  2.224490e+08
605                1.23                  2.552846e+08
606                9.71                  3.535530e+08
586                3.36                  1.155952e+08

                      Security  SEC filings                  GICS Sector  \
1      American Airlines Group      reports                  Industrials
673         Marathon Petroleum      reports                       Energy
674         Marathon Petroleum      reports                       Energy
676         Marathon Oil Corp.      reports                       Energy
692                    Navient      reports                   Financials
693                    Navient      reports                   Financials
699           NASDAQ OMX Group      reports                   Financials
705             NextEra Energy      reports                    Utilities
669         The Mosaic Company      reports                    Materials
704             NextEra Energy      reports                    Utilities
654  Martin Marietta Materials      reports                    Materials
668         The Mosaic Company      reports                    Materials
662           Monster Beverage      reports             Consumer Staples
630                Mattel Inc.      reports       Consumer Discretionary
632           McDonald's Corp.      reports       Consumer Discretionary
633           McDonald's Corp.      reports       Consumer Discretionary
640     Mondelez International      reports             Consumer Staples
641     Mondelez International      reports             Consumer Staples
621                   Macerich      reports                  Real Estate
773            Parker-Hannifin      reports                  Industrials
817               Ryder System      reports                  Industrials
743  Realty Income Corporation      reports                  Real Estate
744  Realty Income Corporation      reports                  Real Estate
479         Harris Corporation      reports       Information Technology
480         Harris Corporation      reports       Information Technology
481         Harris Corporation      reports       Information Technology
484               Henry Schein      reports                  Health Care
486               Henry Schein      reports                  Health Care
485               Henry Schein      reports                  Health Care
604     Level 3 Communications      reports  Telecommunications Services
605     Level 3 Communications      reports  Telecommunications Services
606     Level 3 Communications      reports  Telecommunications Services
586        Alliant Energy Corp      reports                    Utilities

                                   GICS Sub Industry  \
1                                           Airlines
673  Oil & Gas Refining & Marketing & Transportation
674  Oil & Gas Refining & Marketing & Transportation
676               Oil & Gas Exploration & Production
692                                 Consumer Finance
693                                 Consumer Finance
699                   Diversified Financial Services
705                                   MultiUtilities
669             Fertilizers & Agricultural Chemicals
704                                   MultiUtilities
654                           Construction Materials
668             Fertilizers & Agricultural Chemicals
662                                      Soft Drinks
630                                 Leisure Products
632                                      Restaurants
633                                      Restaurants
640                           Packaged Foods & Meats
641                           Packaged Foods & Meats
621                                     Retail REITs
773                         Industrial Conglomerates
817                         Industrial Conglomerates
743                                     Retail REITs
744                                     Retail REITs
479                     Telecommunications Equipment
480                     Telecommunications Equipment
481                     Telecommunications Equipment
484                         Health Care Distributors
486                         Health Care Distributors
485                         Health Care Distributors
604                             Alternative Carriers
605                             Alternative Carriers
606                             Alternative Carriers
586                               Electric Utilities

      Address of Headquarters  Date first added      CIK
1           Fort Worth, Texas        2015-03-23     6201
673             Findlay, Ohio        2011-07-01  1510295
674             Findlay, Ohio        2011-07-01  1510295
676            Houston, Texas        1991-05-01   101778
692          Newark, Delaware        2014-05-01  1593538
693          Newark, Delaware        2014-05-01  1593538
699        New York, New York        2008-10-22  1120193
705       Juno Beach, Florida        1976-06-30   753308
669       Plymouth, Minnesota        2011-09-26  1285785
704       Juno Beach, Florida        1976-06-30   753308
654   Raleigh, North Carolina        2014-07-02   916076
668       Plymouth, Minnesota        2011-09-26  1285785
662        Corona, California        2012-06-28   865752
630    El Segundo, California        1982-03-31    63276
632       Oak Brook, Illinois        1970-06-30    63908
633       Oak Brook, Illinois        1970-06-30    63908
640      Northfield, Illinois        2012-10-02  1103982
641      Northfield, Illinois        2012-10-02  1103982
621  Santa Monica, California        2013-05-09   912242
773           Cleveland, Ohio        1985-11-30    76334
817            Miami, Florida        1982-12-31    85961
743     San Diego, California        2015-04-07   726728
744     San Diego, California        2015-04-07   726728
479        Melbourne, Florida        2008-09-22   202058
480        Melbourne, Florida        2008-09-22   202058
481        Melbourne, Florida        2008-09-22   202058
484        Melville, New York        2015-03-17  1000228
486        Melville, New York        2015-03-17  1000228
485        Melville, New York        2015-03-17  1000228
604      Broomfield, Colorado        2014-11-05   794323
605      Broomfield, Colorado        2014-11-05   794323
606      Broomfield, Colorado        2014-11-05   794323
586        Madison, Wisconsin        2016-07-01   352541

[33 rows x 86 columns]

# 4. 现在让我们来看看更加复杂的数据

请导入price.csv，然后结合你的聪明才智回答以下问题（附加题，40分）

假设你是某基金公司的老板，现在对于每只股票，你都专门安排了一位负责它的交易员。公司规定每一位交易员手中的资金要么全部买入要么全部卖出（空仓，转化为现金）。假设2016年每一位交易员手中都有10000美元，假设他们都能够看到2016年全年的数据，假设他们都能抓住每一次机会，那么请问2016年底时，赚钱最多的股票是哪一只，赚了多少钱？

In [64]:
pr = pd.read_csv('prices.csv')
pr.head()
# 不懂各列代表什么意思

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0